.gridWrapper{
    max-width: 500px;
}

.grid{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.turn-heighlight{
    color:white;
}

.win{
    color: white;
}

.reset{
    padding: 1rem;
    color: white;
    background-color: var(--resetGreen);
    border-radius: 10px;
    border: none;
    width: 100%;
}